---
layout: default
title: Events
permalink: /events/
sitemap: true
---
<p>Ich versuche regelmäßig auf Events zu gehen. Hier trifft man mich an:</p>
<div class="posts">
  <h2>Kommende Events</h2>
  {% for event in site.events | sort: 'sort' %}
    {% if event.archive == false %}
        <article class="highlight">
          <h3>{{ event.title }}</h3>
          {% if event.has_content == true %}
              <div class="entry">
                {{ event.content }}
              </div>
          {% endif %}
        </article>
    {% endif %}
  {% endfor %}
  <h2>Archiv</h2>
  {% for event in site.events | sort: 'sort' %}
    {% if event.archive == true %}
        <article class="post">
          <h3>{{ event.title }}</h3>
          {% if event.has_content == true %}
              <div class="entry">
                {{ event.content }}
              </div>
          {% endif %}
        </article>
    {% endif %}
  {% endfor %}

</div>
